.clearfix {
    clear: both;
}

/* Start: force navbar not to collapse */
.navbar-header {
    float: left;
    margin: 0;
}
.navbar .navbar-nav {
    margin: 0;
}
.navbar li {
    float: left;
    height: 50px;
}
.navbar li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-left {
    float: left;
}
.navbar-right {
    float: right;
}
/* End: force navbar not to collapse */

.new-num {
    width: 1.5em;
    height: 1.5em;
    padding-top: 2px;
    padding-left: 6px;
}
.well {
    /* Release logging container */
    word-break: break-all;
}
.file-item {
    cursor: pointer;
    word-break: break-all;
}
.dir-item:hover {
    background-color: #c4e3f3;
}
.dir-item .dir-item {
    margin-top: 10px;
    margin-left: 10px;
    border-left: solid #888888 2px;
}
.archive-preview-con {
    margin-top: 10px;
}
.preview-link {
    cursor: pointer;
}
.love {
    color: crimson;
}

/* Start: global transition definition */
@keyframes loading {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
.loading-span {
    position: relative;
    animation: loading 3s cubic-bezier(0,0.5,1,0.5) alternate infinite;
}
.tran-enter {
    opacity: 0;
    margin-top: -15px;
    transition: margin-top .25s ease-out .25s,
                opacity .25s ease-out .25s;
}
.tran-enter.tran-enter-active {
    margin-top: 10px;
    opacity: 1;
}
.tran-leave {
    opacity: 1;
    transition: margin-top .25s ease-in,
                opacity .25s ease-in;
}
.tran-leave.tran-leave-active {
    margin-top: -15px;
    opacity: 0;
}
/* End: global transition definition */
